:root {
    --red: #EF476F;
    --yellow: #FFD166;
    --green: #06D6A0;
    --blue: #118AB2;
    --navy: #073B4C;
}

@font-face {
    font-family: 'adl85';
    src: url('adl85-webfont.woff2') format('woff2'),
         url('adl85-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* nav */
.about-nav {
    background-color:var(--blue);
}

.brand-logo {
    font-family: 'adl85', sans-serif;
    font-size: 2.5rem !important;  
}

/* about */
h1 {
    color: var(--yellow);    
    font-family: 'adl85', sans-serif;
    font-size: 2.5rem;
}

body {
    background-color: var(--navy);
    color: white;
}

.carousel {
    height: 500px;
    perspective: 200px;
}

.carousel .carousel-item {
    width: 375px;
    background: var(--yellow);
    padding: 20px;
    height: auto;
    text-align: center;
    border-radius: 15px;
}

.carousel-img {
    margin: 0 auto;
    overflow: hidden;
}

img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 3px var(--navy) solid;
}

.carousel-text {
    color: var(--navy);
    font-size: 1rem;
}

/* media queries */
@media (max-width: 905px) {
    .brand-logo, h1 {
        font-size: 2rem !important;
    }
}

@media (max-width: 758px) {
    .home-text {
        display: none;
    }    
    }

@media (max-width: 720px) {
    .brand-logo {
        font-size: 1.75rem !important;
    }
}

@media (max-width: 635px) {
    .carousel .carousel-item {
        width: 300px; 
    }
    .carousel {
        height: 425px;
        perspective: 100px;
    }

    .title {
        display: none;
    }
}

