:root {
    --red: #EF476F;
    --yellow:#FFD166;
    --green:#06D6A0;
    --blue:#118AB2;
    --navy:#073B4C;
}

@font-face {
    font-family: 'adl85';
    src: url('adl85-webfont.woff2') format('woff2'),
         url('adl85-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* nav */
.about-nav {
    background-color:var(--blue);
}

.brand-logo {
    font-family: 'adl85', sans-serif;
    font-size: 2.5rem !important;  
}

/* review */
#review-container, #description {
    margin: auto 0;
    text-align: center;
}

body {
    background-color: var(--navy);
    color: white;
}

.about-nav {
    background-color: var(--blue);
}

h1 {
    color: var(--yellow);
}

#poster {
    max-width: 50%;
    text-align: center;
    min-width: 200px;
    padding: 15px;
}

#poster-and-info {
    display: flex;
}

#description, #imbd-description-container {
    padding: 20px; 
    text-align: center;
}

/* media queries */
@media (max-width: 905px) {
    .brand-logo, h1 {
        font-size: 2rem !important;
    }
}

@media (max-width: 758px) {
    .home-text {
        display: none;
    }    
    }

@media (max-width: 740px) {
    .brand-logo {
        font-size: 1.75rem !important;
    }
}

@media (max-width: 650px) {
    .title {
        display: none;
    }
}