:root {
    --red: var(#EF476F);
    --yellow: var(#FFD166);
    --green: var(#06D6A0);
    --blue: var(#118AB2);
    --navy: var(#073B4C);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #073B4C;
    color: #FFD166;
}

input {
    color: #118AB2;
}

.main-nav {
    background-color: #118AB2;
}

p {
    color: white;
}

aside,
input {
    color: white;
}

.p {
    color: #118AB2;
}


#movie-poster {
max-width: 50%;
}

.searchregion {
    
}

.modal-input-text {
    color: #118AB2;
}

#advanced-label-1, 
#advanced-label-2, 
#advanced-label-3 {
    color: #118AB2;
}

aside {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    float: right;
    font-style: bold;
    border: solid;
    display: inline;
    text-align: center;

}